<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <header>
        <nav>
            <ul> 
                <li><a href="../index.html">Home</a></li>
                <li><a href="FormContacto.html">Contacto</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
            </ul>
            <form action="" method="">
                    <input type="text" name="busquedad" id="busquedad" placeholder="Buscar...">
                   <input type="submit" value="">
            </form>
         </nav>
    </header>
    <main>
        <h1>contactanos</h1>

        <h2>llene el siguiente formulario y te comunicarenos</h2>

        <form action="" method="" id="formulario">
            <fieldset>
                <legend>Datos Personales</legend>
                <label for="nombre">Nombre:</label>
                <input type="text" name="Nombre" id="nombre" placeholder="Nombre">
                <br>
                <label for="Apellido">Apellido:</label>
                <input type="text" name="Apellido" id="Apellido" placeholder="Apellido">
                <br>
                <label for="Edad">Edad:</label>
                <input type="number" name="Edad" id="Edad" placeholder="20">
                <br>
                <label for="telefono">Telefono:</label>
                <input type="number" name="Telefono" id="Telefono" placeholder="1122861901">
                <br>
                <label for="Fecha_nacimiento">Fecha de nacimiento:</label>
                <input type="date" name="Fecha de nacimiento" id="Fecha de nacimiento"> 
                <br>
                <label for="email">Email:</label>
                <input type="number" name="email" id="email" placeholder="correo@ejemplo.com">
            </fieldset>
            <br>
            <fieldset>
                <legend>Preferencias de Temporada</legend>
                <label for="temporada">Verano</label>
                <input type="radio" name="temporada" id="temporada" value="verano">
                <label for="temporada">Invierno</label>
                <input type="radio" name="temporada" id="temporada" value="Invierno">
                <label for="temporada">Otoño</label>
                <input type="radio" name="temporada" id="temporada" value="Otoño">
                <label for="temporada">Primavera</label>
                <input type="radio" name="temporada" id="temporada" value="Primavera">
            </fieldset>
            <br>
            <fieldset>
                <legend>Colores Favoritos</legend>
                <label for="colores">Azul</label>
                <input type="checkbox" name="colores" id="colores" value="Azul">
                <label for="colores">Rojo</label>
                <input type="checkbox" name="colores" id="colores" value="Rojo">
                <label for="colores">Negro</label>
                <input type="checkbox" name="colores" id="colores" value="Negro">
            </fieldset>
            <br>
            <fieldset>
                <legend>Talles</legend>
                <select name="talles" id="talles">
                    <option value="S">Small</option>
                    <option value="M">Medium</option>
                    <option value="L">Large</option>
                </select>
            </fieldset>
            <br>
            <fieldset>
                <legend>Compartenos tu look favorito</legend>
                <input type="file" name="imagen_look" id="imagen_look">
            </fieldset>
            <br>
            <fieldset>
                <label for="asunto">Asunto</label>
                <input type="text" name="asunto" id="asunto">
                <br>
                <label for="contenido">Contenido</label>
                <br>
                <textarea name="contenido" id="" cols="30" rows="10"></textarea>
            </fieldset>
            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar Campos">
        </form>
    </main>
    <footer>
        <br>
        <a href="mailto:jesa@outlook.com.ar">Email de contacto</a>
        <a href="https://www.mercadolibre.com.ar/" target="_blank" >Mercado Libre</a>
    </footer>
</body>
</html>